.DS_Store
.vscode
__pycache__
build

*.mp4
*.png
*.pkl
*.blend
*.blend1
*.egg-info
*.obj
*.rrd

dataset
!dataset/simplify_obj.py
!dataset/simplify_obj
json2pkl.py
pybullet_data
MUJOCO_LOG.TXT
imgs
outcmaes
PhyScene

# tmp
mesh_ds
output