.DS_Store
.vscode
__pycache__
build

*.mp4
*.png
*.pkl
*.blend
*.blend1
*.egg-info
*.obj
*.rrd

# dataset
dataset/chair-vanilla
dataset/data_pair-hand_picked
dataset/HOI-M3
dataset/SHADE
dataset/TRUMANS
dataset/3DFRONT-preprocessed*
dataset/3DFRONT
dataset/HOLODECK
dataset/OBJATHOR
dataset/SELECTED_ASSETS
dataset/TEST_OBJ_FILE

json2pkl.py
pybullet_data
MUJOCO_LOG.TXT
imgs
outcmaes
PhyScene
test-3DFRONT
rerun
rerun_tmp
rerun-tmp
test-FLEX

# tmp
mesh_ds
output